<!Doctype HTML>
<html lang="en">

	<head>
		
		<%- include('../partials/_head.ejs') %>
		<title><%= title || 'Untitled' %></title>
		
	</head>
	<body>
	
		<%- include('../partials/_nav.ejs') %>
		
	</body>
	
</html>
