
            <!-- this is my nav.ejs partial! -->
            
            <div class="navbar">
                <% var address = address || ['BLOG'] %>
                <% address.forEach(function(addr) { %>
                    <div><a href="<%= addr %>"><%- addr %></a></div>
                    <% }) %>
 