<!-- this is my nav.ejs partial! -->

<header>

<div class="navbar">

    <% var address = address || ['/1972/09/11', '/', 'BLOG'] %>

	<% address.forEach(function(addr) { %>

		<div><a href="<%= addr %>"><%- addr %></a></div>
		
	<% }) %>

</header>