<!-- this is my nav.ejs partial! -->

<div class="navbar">

	<% var sections = sections || [{'Home'}, {'BLOG'}]%>

	<% sections.forEach(function(sec) { %>

		<div><a href="/1972/09/11"><%= sec %></div>
		
	<% }); %>

</div>
