
    <base target="_top">
<meta charset="UTF-8" />
<meta name="author" content="Pro Bono Volunteer Agerncy">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%- short_description %>">
<meta name="keywords" content="gas, nodejs, aws">
<meta http-equiv="X-UA-Compatable" content="ie=edge">
<link type="<%- css_type %>" rel="stylesheet" href="<%- myCss %>">
<title><%- title %></title>
