<!Doctype HTML>
<html lang="en">
    <head>
        <%- include('../partials/_head') %>
    </head>
    <body>
        <header>
            <%- include('../partials/_nav') %>
        </header>
        
        <h1>This is my first EJS file.</h1>

    <p>

		<% var nums = [1,2,3] %>

		<!-- and thenuse it to render -->
		<ul>
		<% nums.forEach(function(n) { %>

			<li><%= n %></li>

		<% }) %>
		</ul>
        
    </p>
	</body>
</html>
