<!Doctype HTML>
<html>

		<!-- use a title value given, or default tothe string 'untitled'. -->
        <%- include('../partials/_head') %>
		<title><%= title || 'Untitled'%></title>
		<meta Charset="UTF-8">
		
	<body>

        <%- include('../partials/_nav') %>

		<h1>This is my first EJS file.</h1>

		<% var nums = [1,2,3] %>

		<!-- and thenuse it to render -->
		<ul>
		<% nums.forEach(function(n) { %>

			<li><%= n %></li>

		<% }) %>
		</ul>
	
	</body>
</html>
